/* .profile {
    background-image: linear-gradient(to bottom, #276ab8, #c049d3);
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    
}


.profile_details {
    list-style-type: none;
    background-color: #2bc28b;
    display: flex;   
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
    padding: 12px;
    border: 0.5px solid #9dda0d;
    height: 70px;
    width: 100%;
    border-radius: 10px;



}

.list-item {
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 600;
    line-height: 56px;


}

.nav-container {
    min-height: 100vh;
    background-color: transparent;
    padding: 20px;
    width: 20%;
    margin-top: 0px;
    margin-right: 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    box-shadow: 0cqb;
    backdrop-filter: bluer(5.5px);
    border:1px soli #f0e6e6;
    transition: background-color 0.1s, box-shadow 0.1s, backdrop-filter 0.1s, -webkit-backdrop-filter 0.1s, border 0.1s, cursor 0.1s;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5.5px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.logo {
    width: 80px;
    margin-bottom: 16px;
}

.dashbord-btn {
    align-self: flex-start;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 700;
    line-height: 56px;
    font-size: 24px;
    margin-bottom: 12px;
}

.dataanalytics-btn {
    align-self: flex-start;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 700;
    line-height: 56px;
    font-size: 24px;
}


.selected-btn{
    background-color: #ffffff;
    color: #000000;
    border-radius: 12px;
    padding: 0 12px;
    transition: background-color 0.1s, color 0.1s;
} */








/* This is for Table container if we remove this sidebar will not show the buttons with full name */

.profile_table_container {
    width: 100%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container */
    overflow-x: auto; /* Add horizontal scroll if necessary */
}


/* This is for table beside the sidebar profile */

.profile {
    /* background-image: linear-gradient(to bottom, #276ab8, #c049d3); */
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}


/*  This is for nav side bar */

.nav-container {
    min-height: 100vh;
    background-color: transparent;
    padding: 20px;
    width: 25%;
    margin-top: 0px;
    margin-right: 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    box-shadow: 0cqb;
    backdrop-filter: bluer(5.5px);
    border:1px soli #131111;
    transition: background-color 0.1s, box-shadow 0.1s, backdrop-filter 0.1s, -webkit-backdrop-filter 0.1s, border 0.1s, cursor 0.1s;
    cursor: pointer;
    background-color: #131111;
    backdrop-filter: blur(5.5px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

    overflow: hidden;
    max-width: 70px; /* Adjust this value as needed */
    transition: max-width 0.3s;
}

.nav-container.nav-open {
    max-width: 250px; /* Adjust this value as needed */
  }




/* This is for logo */

.logo {
    width: 60px;
    transition: width 0.3s;
}

.nav-container:hover .logo {
    width: 100px; /* Adjust the width for open nav */
}

.nav-container:not(:hover) .logo {
    width: 60px; /* Adjust the width for closed nav */
}


/* This is for Buttons like dashboard and dataAnalytics */

.dashbord-btn,
.dataanalytics-btn {
    align-self: flex-start;
    background-color: transparent;
    border: none;
    color: #fff7f7;
    font-family: "Roboto";
    font-weight: 700;
    line-height: 56px;
    font-size: 20px;
    margin-bottom: 2px;
    margin-top: 25px;
    vertical-align: left;
    height: 60px; 
    width: 200px;
    text-align: left;

}

.selected-btn {
    background-color: #f6f0f0;
    color: #080808;
    border-radius: 12px;
    border: 1px solid #e9e6ec;
    padding: 0 12px;
    box-shadow: inset 0 0 0 1px #ffffff;
    transition: background-color 0.1s, color 0.1s;
}



/* This is for button icons  */

.button-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px; 
    color: #0a0606;
    /* margin-right: 5px; */

  }
  
.button-icon-image {
    vertical-align: middle;
    width: auto; 
    height: auto;
    /* color: #ffffff;  */
    margin-right: 10px;
  }



/* This is for icon becomes white when the profile open */

.white-icons .button-icon-image {
    color: #ffffff; /* Set the color to white */
}  

.nav-container.nav-closed .white-icons .button-icon-image {
    color: #ffffff; /* Set the color to white when nav is closed */
}



/* This is for Table size changed like width */

.profile_table {
    width: 20%;
    height: 200px; 
    border-radius: 10px; 
    overflow-y: auto; 
    margin: 60px;
}

table {
    border-collapse: collapse;
}


/* This is for table head */

th{

    text-align: center;
    color: #fbf7f7;
    padding: 14px; /* Adjust the padding */
    font-size: 18px; /* Adjust the font size */
    width: 30%;
    height: 40px;
    border: none;  
    border-bottom: 0.1px solid #dddddd; 
    border-radius: 5px;
    background-color: #0c0b0b;
}


/*  This is for table data  */

td {

    text-align: center;
    color: #0a0606;
    padding: 14px; /* Adjust the padding */
    font-size: 18px; /* Adjust the font size */
    width: 30%;
    height: 40px;
    cursor: pointer;
    border: none;  
    border-bottom: 0.5px solid #dddddd; 
}


/* This is for if the cursor place on the data it will highlight */

tr:hover {
    background-color: #EDEDED; 
  }


/* This is for actions  */



.ellipsis-menu {
    position: relative;
    cursor: pointer;
  }
  
  .dot {
    width: 6px;
    height: 6px;
    background-color: #000;
    border-radius: 50%;
    margin: 2px;
  }
  

  .ellipsis-menu.clicked::before,
  .ellipsis-menu:hover::before {
    content: '';
    position: absolute;
    top: -15px;
    left: -20px;
    width: 50px; /* Adjust the width and height to cover the dots */
    height: 50px;
    background-color: #b7b2b2;
    border-radius: 50%;
    opacity: 0.5;
  }


/* This is for view and edit buttons of actions */

.action-container {
    position: relative;
  }
  
.action-buttons {
    position: absolute;
    top: 50%;
    left: 15px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #100e0e;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1;
  }
  
.action-buttons button {
    background-color: #ffffff;
    /* border: none; */
    color: #171616;
    padding: 8px 16px;
    margin: 4px 0;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    
  }
  
  .action-buttons button:hover {
    background-color: #a4a2a2;
  }

  .action-buttons button .icon {
    margin-right: 10px; 
  }






/*  This is for view button */




.pdf-viewer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.pdf-viewer {
    background-color: #fff;
    width: 800px;
    height: 600px;
    overflow: auto;
    position: relative;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  

.pdf-viewer-header {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
  }
  

.pdf-viewer-close {
    cursor: pointer;
    font-size: 20px;
  }
  

.pdf-viewer iframe {
    width: 100%;
    height: 100%;
    border: none;
  }









