/*  CSS Code */



/*  This is for nav side bar */

.nav-container {
    position: fixed;     
    min-height: 100vh;
    background-color: transparent;
    padding: 20px;
    width: 25%;
    margin-top: 0px;
    margin-right: 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    box-shadow: 0cqb;
    backdrop-filter: bluer(5.5px);
    border:1px soli #131111;
    transition: background-color 0.1s, box-shadow 0.1s, backdrop-filter 0.1s, -webkit-backdrop-filter 0.1s, border 0.1s, cursor 0.1s;
    cursor: pointer;
    background-color: #f4f4f4;
    backdrop-filter: blur(5.5px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);


    /* This is for nav min amd max */
    overflow: hidden;
    max-width: 70px; /* Adjust this value as needed */
    transition: max-width 0.3s;
}

.nav-container.nav-open {
    max-width: 250px; /* Adjust this value as needed */
  }


/* This is for logo */

.logo {
    width: 60px;
    transition: width 0.3s;
}

.nav-container:hover .logo {
    width: 100px; /* Adjust the width for open nav */
}

.nav-container:not(:hover) .logo {
    width: 60px; /* Adjust the width for closed nav */
}


/* This is for Buttons like dashboard and dataAnalytics */

.dashbord-btn,
.dataanalytics-btn {
    align-self: flex-start;
    background-color: transparent;
    border: none;
    color: #6B93FF;
    font-family: "Roboto";
    font-weight: 700;
    line-height: 56px;
    font-size: 20px;
    margin-bottom: 2px;
    margin-top: 25px;
    vertical-align: left;
    height: 60px; 
    width: 200px;
    text-align: left;

}

.selected-btn {
    background-color: #CAD8FF;
    color: #080808;
    border-radius: 12px;
    /* border: 1px solid #e9e6ec; */
    padding: 0 12px;
    /* box-shadow: inset 0 0 0 1px #0d0b0b; */
    transition: background-color 0.1s, color 0.1s;
}



/* This is for button icons  */

.button-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px; 
    color: #0a0606;
    /* margin-right: 5px; */

  }
  
.button-icon-image {
    vertical-align: middle;
    width: auto; 
    height: auto;
    color: #6B93FF; 
    margin-right: 10px;
  }



/* This is for icon becomes white when the profile open */

.white-icons .button-icon-image {
    color: #0f0e0e; /* Set the color to white */
}  

.nav-container.nav-closed .white-icons .button-icon-image {
    color: #0f0b0b; /* Set the color to white when nav is closed */
}



/* This is for moving the profile container to right when we place the cursor on the nav */

/* .profile_table_container.nav-open {
    transform: translateX(200px);
    transition: transform 0.3s; 
  } */


/* This is for Table container if we remove this sidebar will not show the buttons with full name */

.profile_table_container {
    width: 100%; 
    height: 100%;
    padding-top: 140px;
    margin: 0 auto; 
    margin-left: 80px;
    transition: transform 0.3s;
    overflow-y: auto; 
    overflow-x: auto;
}


/* This is for table beside the sidebar profile */

.profile {
    /* background-image: linear-gradient(to bottom, #276ab8, #c049d3); */
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}


/* This is for Table size changed like width */

.profile_table {
    width: 90%;
    height: 200px; 
    border-radius: 10px; 
    overflow-y: auto; 
    margin: 60px;
    table-layout: absolute; 
    margin-top: 10px;
    /* transform: scale(0.9); 
    transform-origin: 0 0; */
}


table {
    border-collapse: collapse;
}


/* This is for table head */

th{

    text-align: center;
    color: #120d0d;
    padding: 10px 20px; /* Adjust the padding */
    font-size: 18px; /* Adjust the font size */
    /* width: 20%; */
    width: 150px;
    height: 40px;
    border: none;  
    border-bottom: 0.1px solid #dddddd; 
    border-radius: 1px;
    background-color: #CAD8FF;
    
}



/*  This is for table data  */

td {

    text-align: center;
    color: #0a0606;
    padding: 14px 15px; /* Adjust the padding */
    font-size: 18px; /* Adjust the font size */
    width: 30%;
    height: 40px;
    cursor: pointer;
    border: none;  
    border-bottom: 0.5px solid #dddddd; 
    font-style: verdana;
}


/* This is for if the cursor place on the data it will highlight */

tr:hover {
    background-color: #EDEDED; 
  }



  .icon {
    color: #575757;
  }

/* This is for view and edit buttons of actions */

.action-container {
    position: relative;
  }
  
.action-buttons {
    position: absolute;
    top: -20%;
    left: 110px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #100e0e;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1;
  }
  
.action-buttons button {
    background-color: #ffffff;
    /* border: none; */
    color: #171616;
    padding: 4px 10px;
    margin: 2px 0;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    
  }
  
  .action-buttons button:hover {
    background-color: #a4a2a2;
  }

  .action-buttons button .icon {
    margin-right: 10px; 
  }






/* This is for after upload message  */
  
  .uploading-message,
  .success-message,
  .error-message {
    font-size: 14px;
    color: #007bff;
    margin-left: 80%;
    font-weight: bold;
  }

  

/* This is for upload button */

  .upload-container {
    position: absolute;
    right: 10px; 
    top: 80px; 
    text-align: center;
    margin-left: 10px;
    /* padding: 5px;
    font-size: 16px;
    margin-left: 80%;
    margin-top: -80px; */
  
  }
  
  

  .file-upload-label {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #6B93FF;
    color: #fff;
    border-radius: 15px;
    font-size: 16px;
    margin-top: 10px;
  }
  
  /* .file-upload-label:hover {
    background-color: #4df038;
  } */
  
  
  #file-input {
    display: none;
  }
  

  .upload-icon {
    margin-right: 2px;
    font-size: 20px;
    vertical-align: middle;
    line-height: 1;
  }
  

/* This is for datanalytics name */

.Dataanalystics {
  font-size: 30px;
  margin-left: 60px;
  font-weight: bold;
  margin-top: -70px;
  
}


/* This is for search icon */

.search-icon {
  color: #171413;
  font-size: 150% !important;
  vertical-align: -14px;
  margin-left: 10px;
  border: 1px solid #e7dedb;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.2);
}


.search-bar {
  width: 20%;
  border-radius: 10px;
  height: 30px;
  vertical-align: 3px;
  margin-left: 10px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.2);

}
  


/* This is for both the view and edit buttons */

  
  /* This is for view button */
  .pdf-viewer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pdf-viewer {
    background-color: #fff;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .pdf-viewer-header {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
  }
  
  .pdf-viewer-close {
    cursor: pointer;
    font-size: 20px;
  }
  
  .pdf-viewer iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  
  /* This is for edit button */
  .details-view-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .details-view {
    background-color: #fff;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .details-view-header {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
  }
  
  .details-view-close {
    cursor: pointer;
    font-size: 20px;
  }
  
  .details-view-content {
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
  }
  
  .field {
    margin-bottom: 20px;
  }
  
 


/* This is for after uploading document it will pop-up like sucess */

.upload-status-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.upload-status {
  background-color: #e1e7ec;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.uploading-message, .success-message, .error-message {
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 10px;
}



/* This is for save button in edit */

.success-message {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.success-message-viewer p {
  margin: 0;
  font-size: 16px;
}



.save_button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}




input{
  border-radius: 5px;
  margin-left: 79px;
  width: 90%;
  height: 29px;
  font-family: sans-serif;
  font-size: 17px;

}



/* This is for pagination */


.pagination-controls {
  position: absolute;
  top: 300px; 
  left: 93%;
  transform: translateX(-50%);
  text-align: center;

}


.upload-container .pagination-controls {
  margin-top: 80px;
}

.pagination-controls span {
  cursor: pointer;
  margin: 0 5px;
  font-size: 18px;
  color: black;
}

.pagination-controls span:hover {
  text-decoration: underline;
}

.pagination-controls .current-page {
  font-weight: bold;
  font-size: 20px;
}


/* This is the code for dropdown for sort by */

.sort_dropdown {
  position: absolute;
  padding: 8px 20px; 
  font-size: 16px;
  margin-left: 85%;
  margin-top: 50px;
  border: 2px solid #070606; /* Add border */
  border-radius: 6px; 
  background-color: #fff; 
  box-shadow: 0 2px 4px rgba(208, 10, 10, 0.1);
  z-index: 1000; 
}


/* This is Summary text above the table */

.summary {
  font-weight: bold;
  margin-left: 70px;
  margin-top: -25px;
  font-size: 22px;
  
}

/* This is showing results text above the table */

.showing-results {
  /* font-weight: bold; */
  margin-left: 18%;
  margin-top: 180px;
  font-size: 18px; 
}



/* This is for logout  */

.logout-button {
  position: absolute;
  top: 10px;
  right: 25px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}



